.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__current-group
        NORTHKOREA
      .chat-main__header__left-box__member-list
        kim family
    =link_to "#", class: "chat-main__header__edit-btn" do
      Edit
  .chat-main__messages
    .chat-main__messages__message
      .chat-main__messages__message__upper-info
        .chat-main__messages__message__upper-info__talker
          kim-jong-un
        .chat-main__messages__message__upper-info__date
          2019-12-26
      .chat-main__messages__message__text
        Oh my Dad!
      .chat-main__messages__message__img
        =image_tag "https://assets.media-platform.com/bi/dist/images/2017/08/10/4eef723b69bedd983200001b.jpg"
  .chat-main__form
    .chat-main__form__new-message
      .chat-main__form__new-message__input-box
        %input.chat-main__form__new-message__input-box__text{name: "text", placeholder: "type a text", type: "text", value: ""}/
        %label.chat-main__form__new-message__input-box__image
          = icon('fas', 'image')
          %input.chat-main__form__new-message__input-box__image__file{type: "file"}
      %input.chat-main__form__new-message__submit-btn{"data-disable-with": "Send", name:"commit", type:"submit", value:"Send"}/
        

        